*
!requirements.txt
!LICENSE
!README.md
!rhasspy_junior/**/*.py
!rhasspy_junior/junior.toml
!scripts/train.sh
!scripts/run.sh
!docker/run.sh

!wheels/
!data/vad_silero/
!data/wake_precise/
!data/stt_fsticuffs/
!data/home_assistant/
